---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';


const pageTitle = "About Me";
---

<Layout>
    <a href="/">Home</a>
<a href="/about/">About</a>
	<Welcome />
    {pageTitle}
</Layout>
