---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';


const pageTitle = "About Me";

const happy = true;
const finished = false;
const goal = 3;
---

<Layout>
    <a href="/">Home</a>
<a href="/about/">About</a>
	<Welcome />
    {pageTitle}


    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}
    
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</Layout>
